.piechart-container {
    text-align: center;
    margin: 0 auto;
}

.chart-title {
    font-size: 12px; 
    margin-bottom: 5px;
}


.chart-wrapper {
    width: 120px; 
    height: 120px; 
    margin: 0 auto; 
}


@media (max-width: 768px) {
    .chart-wrapper {
        width: 100px; 
        height: 100px; 
    }
}
